.dashboard-container {
  display: flex;
  align-items: flex-start;
}

.playlist-list {
  width: 100;
  margin-top: 20px;
}

.playlist-details {
  margin-top: 20px;
  overflow: hidden;
}

.playlist-details-top {

}

.playlist-details-bottom {
}

.playlist-bottom-description {

}

.playlist-bottom-songs {
  height: 60vh;
  overflow-y: scroll;
}
