.dashboard-container {
  display: flex;
  align-items: flex-start;
}

.playlist-list {
  width: 100;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.playlist-list-cards {
  height: 60vh;
  flex: 1;
  overflow-y: scroll;
}

.playlist-details {
  margin-top: 20px;
  overflow: hidden;
}

.playlist-bottom-songs {
  height: 60vh;
  overflow-y: scroll;
}
