
.progress-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.step-one {
  justify-content: center;
  margin: auto;
  width: 80%;
  padding: 10px;
}


.step-two {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.playlist-settings-general {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

#limit {
  background-color: #183C77;
    border: unset;
    border-bottom: 1px solid #03FCBA;
    border-radius: unset;
    padding: 4px 4px;
}

#playlist_name {
  background-color: #183C77;
    border: unset;
    border-bottom: 1px solid #03FCBA;
    border-radius: unset;
    padding: 4px 4px;
}

.general-setting {
  background-color:#183C77;
  padding: 10px 10px;
  border-radius: 15px;
}

.playlist-settings-parameters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0px;
}



.step-one-cards {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background-color: #183C77;
  padding: 10px 10px;
  border-radius: 15px;
  margin: 0 auto;
}

.step-one-cards > p {
  font-size: x-large;
}

.step-one-cards > input {
  width: 80%;
}

.ts-wrapper {
  width: 90%;
}

.ts-control {
  background-color: #183C77;
  border: unset;
  border-bottom: 1px solid #03FCBA;
  border-radius: unset;
  padding: 4px 4px;

}

.ts-control input {
  color: white;
}

.ts-wrapper.multi .ts-control > div {
  background-color: #183C77;
  color: white;
  border: 1px solid #03FCBA;
  border-radius: 12px;
}
.ts-wrapper.multi .ts-control > div.active {
  border: 1px solid #03FCBA;
  background-color: #1e4b96;
  color: white;
}

.text-muted {
  color: white !important;
  opacity: 0.5;
}

.icon{
	width: 3rem;
}
.item{
	width: 100%;
}

.icon img {
  width: 50px;
  height: 50px;
  object-fit: cover !important;
  object-position: center !important;
  margin: auto;
}

.img-fluid {
  max-width: unset;
}

h4 {
  font-size: 16px;
}

.py-2 {
  align-items: center;
  background-color: #183C77;
  color: white;
}

.ts-dropdown {
  border: unset !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.ts-dropdown .active {
  border: 1px solid #03FCBA;
  background-color: #183C77;
  color: white;
}

// .playlist-settings-parameters {
//   display:flex;
//   background-color: #183C77;
//   padding: 10px 10px;
//   border-radius: 15px;
//   margin: 0 auto;
// }

.parameters-container {
  background-color: #183C77;
  padding: 10px 10px;
  border-radius: 15px;
  margin: 0 auto;
}
