.homepage-container{
  background-color:#133161;
  font-family: 'Nunito Sans', sans-serif;
}

.banner {
  height: 65vh;
  background-size: cover;
  background-position: right 50% bottom 55%;
  padding: 150px 0;

  h1 {
    font-weight: 600;
    color: white;
    text-align: center;
    font-size: 50px;
  }

  p {
    font-weight: 300;
    color: white;
    text-align: center;
    padding: 10px;
  }
}

.home-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 19vh;
}
