<div data-controller="autocomplete" class="form_wrapper">
  <form action="/recommendations" method="post">
    <div class="step-one">
      <h2>Step 1: Select your starting point</h2>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="playlist-settings-seed">
        <input type="text"  name='artists' placeholder="Search artists" data-autocomplete-target="artists"> <br>
        <input type="text" name="songs" placeholder="Search songs" data-autocomplete-target="songs"> <br>
        <input type="text" name="genres" placeholder="Search genres" data-autocomplete-target="genres"> <br>
      </div>
    </div> <!--end of div step-one-->
    <div class="step-two">
      <h2>Step 2: Fully customize your playlist</h2>
      <div class="playlist-settings-general">
        <input type="number" id="limit" name="limit" placeholder="Enter number of songs">
        <input type="text" id="playlist_name" name="playlist_name" placeholder="Enter playlist name">
      </div>
      <div class="playlist-settings-parameters">
        <div class="slider-container"> <!--acousticness slider -->
          <input type="range" id="acousticness" name="acousticness" min="0" max="1" step="0.01">
          <label for="acousticness">Acousticness</label>
        </div>
        <div class="slider-container"> <!--danceability slider -->
          <input type="range" id="danceability" name="danceability" min="0" max="1" step="0.01">
          <label for="danceability">Danceability</label>
        </div>
        <div class="slider-container"> <!--energy slider -->
          <input type="range" id="energy" name="energy" min="0" max="1" step="0.01">
          <label for="energy">Energy</label>
        </div>
        <div class="slider-container"> <!--instrumentalness slider -->
          <input type="range" id="instrumentalness" name="instrumentalness" min="0" max="1" step="0.01">
          <label for="instrumentalness">Instrumentalness</label>
        </div>
        <div class="slider-container"> <!--liveness slider -->
          <input type="range" id="liveness" name="liveness" min="0" max="1" step="0.01">
          <label for="liveness">Liveness</label>
        </div>
      </div>
      <div class="playlist-settings-parameters">
        <div class="slider-container"> <!--mode slider -->
          <input type="range" id="mode" name="mode" min="0" max="1" step="1">
          <label for="mode">Mode (0-1)</label>
        </div>
        <div class="slider-container"> <!--popularity slider -->
          <input type="range" id="popularity" name="popularity" min="0" max="100" step="1">
          <label for="popularity">Popularity</label>
        </div>
        <div class="slider-container"> <!--speechiness slider -->
          <input type="range" id="speechiness" name="speechiness" min="0" max="1" step="0.01">
          <label for="speechiness">Speechiness</label>
        </div>
        <div class="slider-container"> <!--tempo slider -->
          <input type="range" id="tempo" name="tempo" min="60" max="200" step="1">
          <label for="tempo">BPM (60-200)</label>
        </div>
        <div class="slider-container"> <!--valence slider -->
          <input type="range" id="valence" name="valence" min="0" max="1" step="0.01">
          <label for="valence">Valence</label>
        </div>
      </div>
      <input type="submit" value="Create">
    </div> <!--end of div step-two-->
  </form>
</div>
