<div class="footer">
  <div class="footer-content">
    <div class="footer-spotify">
      Powered by <%= image_tag('Spotify_Logo_White.png', alt: 'Spotify logo', class: "spotify-logo") %>
    </div>
    <div class="footer-copyright">
      Made with <i class="fas fa-heart"></i> at MoodMaestro
    </div>
  </div>
</div>
