<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/alexandra-james/mood-maestro"><i class="fab fa-github"></i></a>
    <%# <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> %>
  </div>
  <div class="footer-spotify">
    Powered by <img src="app/assets/images/Spotify_Logo_White.png" alt=""> Spotify
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at MoodMaestro
  </div>
</div>
