   <div class="navbar">
        <div class="mood-maestro">Mood Maestro</div>
          <div class="nav-links">
            <b class="dashboard">Dashboard</b>
            <b class="create-playlist"> + Create Playlist</b>
        </div>
            <img class="navbar-child" alt="" src="https://images.unsplash.com/photo-1614680376593-902f74cf0d41?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80" />
   </div>
