<div class="homepage-container">
  <img class="homepage-image" alt="" src="https://images.unsplash.com/photo-1466428996289-fb355538da1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" />
  <div class="homepage-title-container">
    <h1 class="homepage-title">Welcome to MoodMaestro!</h1>
  </div> <!-- end div homepage-title-container -->
  <a href="">
    <button class="btn-green">Create a new playlist</button>
  </a>
</div> <!-- end div homepage-container -->
