
  <head>
    <meta charset="utf-8" />
 </head>
  <body>
   <div class="homepage">
        <img class="homepage-image" alt="" src="https://images.unsplash.com/photo-1466428996289-fb355538da1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" />
      <div class="heading">
           <div class="homepage-title">Welcome to MoodMaestro!</div>
       </div>
       <a href="">
         <button class= "button button1">Create a new playlist</button>
       </a>
    </div>
  </body>
