<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (400)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <style>
  .maestro-error-page {
    background-color: #133161;
    color: white;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
  }

  .maestro-error-page div.dialog {
    width: 95%;
    height: 50%;
    margin: 0 auto;
  }

  .maestro-error-page div.dialog > div {
    background-color: #133161;
    display: flex;
    flex-direction: column;
  }

  .maestro-error-page h1 {
    font-size: 120px;
    font-weight: 500;
    color: #03FCBA;
  }

  .dialog-text > p {
    padding: 5px;
    color: white;
    font-size: 20px;
    margin: 20px;
  }

  .btn-green {
  text-decoration: none;
  background-color:  #03FCBA;
  color: black;
  margin: 60px auto;
  border-radius: 8px;
  padding: 10px 10px;
  width: 264px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: bold 16;
  text-align: center;
  opacity: 1;
  border: unset;
  cursor: pointer;
}

.btn-green:hover {
  background-color: #03FCBA;
  opacity: 0.7;
}

.fa-planet-ringed {
  color: white;
  position: relative;
  display: block;
  z-index: 2;
  height: 30px;
  width: 30px;
}

img {
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 2;
}

  </style>
</head>

<body class="maestro-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h1>400</h1>
      <div class="dialog-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
          <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
          <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
          <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
        </svg>
        <p>The conductor lost the tempo, and now our servers are out of sync.</p>
        <p>We're orchestrating a quick rehearsal to get things back on beat.</p>
        <a href="https://www.moodmaestro.me/" class="btn-green">Back home</a>
      </div>
    </div>
  </div>
</body>
</html>
