.btn-green {
  background-color:  #03FCBA;
  color: black;
  margin-left: 42%;
  margin-top: 40px;
  border-radius: 5px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  width: 13%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: bold 16;
}

.btn-green:hover {
  background-color: #03FCBA;
  color: white;
}
