.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-green {
  text-decoration: none;
  background-color:  #03FCBA;
  color: black;
  margin: 40px auto;
  border-radius: 8px;
  padding: 10px 10px;
  width: 264px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: bold 16;
  text-align: center;
  opacity: 1;
  border: unset;
  cursor: pointer;
}

.btn-green:hover {
  background-color: #03FCBA;
  opacity: 0.7;
}

.btn-back {
  text-decoration: none;
  background-color: white;
  opacity: 0.5;
  color: black;
  margin: 40px auto;
  border-radius: 8px;
  padding: 10px 10px;
  width: 264px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: bold 16;
  text-align: center;
}

.btn-spotify-dashboard {
  text-decoration: none;
  background-color: #03FCBA;
  opacity: 1;
  color: black;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: bold 16;
  text-align: center;
  border: unset;
}

.btn-spotify-dashboard:hover {
  opacity: 0.7;
}
