.navbar-container {
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  width: 100%;
  height: 84px;
  overflow: hidden;
  background-color: #133161;
  border-bottom: 2px solid #03FCBA ;
  font-family: 'Nunito Sans', sans-serif;
  z-index: 1;
}

.navbar-app-name {
  font-size: 20px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.navbar-links-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar-link {
  text-decoration: none;
  position: relative;
  color: white;
  padding-right: 20px;
}

.navbar-link-highlighted {
  color: #03FCBA;
  padding-right: 20px;
  text-decoration: none;
}

.navbar-avatar {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  object-fit: cover;
  margin-left: 15px;
}
