.playlist-card {
  height: 80px;
  background-color: #183C77;
  border-radius: 5px;
  margin-bottom: 10px;
}

.playlist-card-top {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-weight: 500;
}

.playlist-card-details {
  display:flex;
  justify-content: flex-start;

  p {
    font-size: small;
    font-weight: 300;
    opacity: 0.5;
    margin: 0px;
  }
}

.playlist-property {
  margin: 0px 20px;
}

i {
  align-self: flex-start;
  padding: 6px;
  color: white;
  opacity: 0.5;
}
