.song-card {
  height: 60px;
  background-color: #183C77;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
}

.song-card-image {
  padding: 8px;
}

.song-card-title {
  font-weight: 500;
  padding: 5px;
  margin: 0px;

  p{
    margin: 0px;
  }
}

.song-card-details {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-weight: 300;
  font-size: small;
  opacity: 0.5;
}
