<h1>Your new playlist is ready!</h1>

<h2>Playlist name: <%= @playlist.name %></h2>

<h3>Songs</h3>
<ul>
  <% @playlist.playlist_songs.each do |song| %>
    <li><%= song.song.name %></li>
  <% end %>
</ul>

<%= link_to "listen on spotify", create_spotify_playlist_path(@playlist), data: {turbo_method: :post}  %>
