<h1>Your new playlist is ready!</h1>

<h2>Playlist name: <%= @playlist.name %></h2>

<h3>Songs</h3>
<ul>
  <% @playlist.playlist_songs.each do |song| %>
    <li><%= song.song.name %></li>
  <% end %>
</ul>

<% if session[:spotify_user].present? %>
  <%= button_to "listen on spotify", create_spotify_playlist_path(@playlist), method: :post, data: {turbo: false}, form: {target: "_blank"} %>
<% else %>
  <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post, data: {turbo: false}, class:"navbar-link" %>
<% end %>
